
.topofont{
    margin-left: 5%;
    font-family: 'open sans',Sans-serif;
   }


.font {
    color: #010104;
    font-family: 'open sans',Sans-serif;
    font-size: 30;
    font-weight: 700;
    
}

.font2 {
    font-family: 'open sans',Sans-serif;
    margin-right: 5%;
    margin-left: 3.3%;
    
}


